.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  // max-width: 1000px;
  width: min(100% - 2.4rem, 1000px);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 900px) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: 2rem;
  }

  &__main {
    background-color: hsl(240, 99%, 33%);
  }

  &__sidebar {
    background-color: hsl(300, 100%, 30%);
  }
}
